<ion-header>
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="home">
    <form #form="ngForm" method="POST">
      <ion-row>
        <ion-input class="input" [(ngModel)]="modelName.form" name="name" type="text" placeholder="Enter Name">
        </ion-input>
      </ion-row>
      <br>
      <ion-row>
        <ion-input class="input" [(ngModel)]="modelUser.form" name="user" type="text" placeholder="Enter Username"></ion-input>
      </ion-row>
      <br>
      <ion-row>
        <ion-input class="input" [(ngModel)]="modelAge.form" name="age" type="number" placeholder="Enter Age">
        </ion-input>
      </ion-row>
      <br>
      <ion-row>
        <ion-input class="input" [(ngModel)]="modelEmail.form" name="email" type="email" placeholder="Enter Email">
        </ion-input>
      </ion-row>
      <br>
      <ion-row>
        <ion-input class="input" [(ngModel)]="modelPassword.form" name="password" type="password"
          placeholder="Enter Password">
        </ion-input>
      </ion-row>
      <br>
      <ion-row>
        <ion-button class="button" color="primary" expand="full" (click)="submit(form)">Submit</ion-button>
      </ion-row>
    </form>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title>
      My First App
    </ion-title>
  </ion-toolbar>
</ion-footer>